@model UniversityPortalApp.Core.Student

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.FirstName @Model.LastName</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DepartmentName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a href="@Url.Action("Enroll", "StudentEnrollment",new { studentId = Model.Id })">Enroll for Course</a> |
    <a href="@Url.Action("Create", "Address",new { studentId = Model.Id })">Add Address</a> |
    @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<hr />

<div>
    <h4>Addresses</h4>
    <br />
    @if (Model.Addresses.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Street
                </th>
                <th>
                    Unit
                </th>
                <th>
                    City
                </th>
                <th>
                    State
                </th>
                <th>
                    Zipcode
                </th>
                <th>
                    Country
                </th>
                <th>
                    StudentId
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Addresses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentId)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Address",new { id = item.Id })">Edit</a> |
                        <a href="@Url.Action("Detail", "Address",new { id = item.Id })">Detail</a> |
                        <a href="@Url.Action("Delete", "Address",new { id = item.Id })">Delete</a>
                    </td>
                </tr>
            }

        </table>
    }
    else
    {
        <h4>No Addresses registered</h4>
    }
</div>
<br />
<div>
    <h4>Courses Enrolled</h4>
    <br />
    @if (Model.StudentEnrollments.Count > 0)
    {
        <table class="table">
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Instructor
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.StudentEnrollments)
            {

                <tr>
                    @{
                        var courseName = item.Enrollment != null ? (item.Enrollment.Course != null ? item.Enrollment.Course.CourseName : "") : "";
                        var instructorName = item.Enrollment != null ? (item.Enrollment.Instructor != null ? item.Enrollment.Instructor.FirstName + " " + item.Enrollment.Instructor.LastName : "") : "";
                    }
                    <td>
                        @Html.DisplayFor(modelItem => courseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => instructorName)
                    </td>
                    <td>
                        <a href="@Url.Action("DeEnroll", "StudentEnrollment", new { id = item.Id, studentId = Model.Id })" class="btn btn-danger">DeEnroll</a>
                    </td>
                </tr>
                        }

        </table>
                        }
                        else
                        {
                            <h4>You are not enrolled in any course</h4>
                        }
</div>