@model UniversityPortalApp.Core.Department

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadOfDepartmentId)
        </dt>
        @{

            
                var instructorName = Model.Instructor != null ? Model.Instructor.FirstName + " " + Model.Instructor.LastName : "";
            
        }
        <dd>

            @Html.DisplayFor(model => instructorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
